:root {
  --clr-primary: #FFFFFF;
  --clr-secondary: #000000;
  --clr-accent: #BA1B1B;

  --ff-primary: Bahnschrift, 'Segoe UI';

  --fw-bold: 700;
  --fw-semi-bold: 500;

  --bx-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
}



/* Table of Contents: 
  1.LAYOUT
  2.TYPOGRAPHY
*/

/************* 
**************
  1.LAYOUT
**************
*************/

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.full-page-container {
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
}

/*.flex > * {
  flex-basis: 100%;
}*/

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 70rem;
}

.spacer {
  height: 15px;
}

.text-center {
  text-align: center;
}

.bg-light {
  background-color: var(--clr-primary);
}

.bg-dark {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.img-overlay-dark, .img-overlay-light {
  width: 100%;
  height: 100%;
  position: absolute;
}

.img-overlay-light {
  background-color: rgba(0, 0, 0, .1);
}

.img-overlay-dark {
  background-color: rgba(0, 0, 0, .2);
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
}

button {
  color: var(--clr-primary);
  border: transparent;
  border-radius: 5px;
  padding: 7px 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.button {
  background-color: var(--clr-secondary);
}


/************* 
**************
2.TYPOGRAPHY
**************
*************/
h1, 
h2,
h3 {
  margin: 0;
  padding:0;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.25rem;
}

span {
  font-size: 100%;
}

@media only screen and (min-width: 500px) {
  .spacer {
    height: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .spacer {
    height: 30px;
  }

  h1 {
    font-size: 3.75rem
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
  }
}