:root {
  --clr-primary: #FFFFFF;
  --clr-secondary: #000000;
  --clr-accent: #BA1B1B;

  --ff-primary: Bahnschrift, 'Segoe UI';

  --fw-bold: 700;
  --fw-semi-bold: 500;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}


/* Table of Contents: 
  1.LAYOUT
  2.TYPOGRAPHY
*/

/************* 
**************
  1.LAYOUT
**************
*************/

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-primary);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.content {
  margin: 0 auto;
  width: 90%;
  max-width: 70rem;
}

.text-center {
  text-align: center;
}

.bg-light {
  background-color: var(--clr-primary);
}

.bg-dark {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.img-overlay-dark, .img-overlay-light {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
}

.img-overlay-light {
  opacity: .1;
}

.img-overlay-dark {
  opacity: .2;
}

img {
  max-width: 100%;
  display: block;
}

/************* 
**************
2.TYPOGRAPHY
**************
*************/
h1 {
  font-size: 1.875rem;
  /*font-size: 3.75rem;*/
}

h2 {
  font-size: 1.25rem;
  /* font-size: 2.5rem; */
}

span {
  font-size: 100%;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem
  }

  h2 {
    font-size: 2.5rem;
  }
}