/* HOMEPAGE CSS */

/*
    TABLE OF CONTENTS: 
        1.HERO
        2.PROGRAMS
        3.COMMUNITY
        4.GALLERY
        5.POSTS
        6.ABOUT
*/


/**************
***************
    1.HERO
***************
**************/
.homepage-hero {
    width: 100%;
    height: 250px;
    background-image: url('../images//girl-squat-dark.jpg');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fw-bold);
    text-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.hero-motivational-box {
    height: 50px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

/* Desktop Hero */
@media only screen and (min-width: 768px) {
    .homepage-hero {
        height: 100vh;
    }

    .hero-motivational-box {
        height: 125px;
    }
}


/**************
***************
  2.PROGRAMS
***************
**************/

.homepage-programs {
    flex-direction: column-reverse;
    position: relative;
}

.homepage-programs-background {
    height: 125px;
    background-image: url('../images/squater.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.homepage-programs-cta {
    justify-content: center;
    align-items: center;
    margin: 37.5px auto;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, .35);
    color: var(--clr-primary);
}

.programs-cta-info {
    display: none;
}

.program {
    height: 140px;
    width: 100%;
    box-shadow: var(--bx-shadow);
    position: relative;
}

.program img {
    object-fit: cover;
    object-position: 50% 50%;
}

.homepage-program-info {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 10px;
    z-index: 1;
}

/* Version 1: Program Img and Info */
.default-mode {
    width: 135px;
    height: auto;
  }

.default-mode + .img-overlay-dark {
    display: none;
}

.program p {
    font-size: .875rem;
}

.program a {
    font-size: .875rem;
    font-weight: var(--fw-bold);
    align-self: flex-end;
    padding-right: 5px;
}

/* Version 2: Program Img Full Width */
.full-width-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: white;
}

.full-width-mode h2 {
    font-weight: var(--fw-bold);
    margin-left: 10px;
    text-shadow: var(--bx-shadow);
}

.full-width-mode p,
.full-width-mode a {
    display: none;
}

@media only screen and (min-width: 768px) {
    .homepage-programs {
        flex-direction: row;
    }

    .homepage-programs > * {
        flex-basis: 100%;
    }

    .homepage-programs-background {
        height: 800px;
    }

    .homepage-programs-cta {
        width: 60%;
        height: auto;
        min-height: 9.375rem;
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        margin: 0 2.5rem;
        position: absolute;
        bottom: 3.75rem;
        background: linear-gradient(135deg,
        rgba(255,255, 255, .35) 0%, 
        rgba(0, 0, 0, .15) 50%,
        rgba(0, 0, 0, .1) 75%,
        rgba(255,255, 255, .1) 95%);
    }

    .programs-cta-info {
        display: block;
        padding: 15px;
    }
    
    .homepage-programs-cta h3 {
        align-self: flex-end;
        padding: 0px 15px 15px 0;
    }

    .program {
        height: 200px;
    }

    .program h2 {
        font-size: clamp(1.125rem, 2vw, 1.75rem);
    }

    .program p {
        font-size: clamp(1rem, 1.75vw, 1.125rem);
    }

    .program a {
        font-size: clamp(1rem, 1.75vw, 1.25rem);
        align-self: center;
    }

    .default-mode {
        width: 200px;
    }

    .full-width-mode h2 {
        font-size: 2.5rem;
    }
}

/**************
***************
  3.COMMUNITY
***************
**************/

#community {
    box-shadow: var(--bx-shadow);
}
.community-container {
    margin: 0 auto;
    width: 100%;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
}

.community-container h2{
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-weight: var(--fw-bold);
}

.social-stats {
    justify-content: flex-start;
    align-items: center;
}

.social-stats h2 {
    font-size: clamp(.875rem, 3vw, 2.5rem);
    margin-top: .25rem;
}

.social-stats img {
    width: 20px;
    height: 20px;
    margin-right: .25rem;
}


@media only screen and (min-width: 768px) {
    .community-container {
        width: 85%;
        height: 125px;   
        justify-content: space-between;
        margin: 0 2.5rem 0 2.5rem;     
    }

    .social-stats img {
        width: 40px;
        height: 40px;
        margin-right: .75rem;
    }
}

/**************
***************
  4.GALLERY
***************
**************/
.gallery {
    width: 100%;
    height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto hidden;
    position: relative;
    margin-bottom: 500px;
}

/* scroll bar for mobile gallery */
.gallery::-webkit-scrollbar {
    height: 4px;
}

.ellipse {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.gallery img {
    width: 100vw;
    height: 250px;
}

.main-gallery {
    width: 100%;
}

.side-gallery {
    /*if static gallery set width equal to: 100 x amount of pictures in side gallery*/
    width: 400%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.view-gallery-div {
    height: 25px;
    font-size: 1.25rem;
    color: white;
    position: absolute;
    bottom: .25rem;
    right: 1rem;
}

@media only screen and (min-width: 768px) {
    .gallery {
        height: 450px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .gallery img {
        height: 100%;
        width: 100%;
    }

    .main-gallery {
        width: 65%;
        position: relative;
    }

    .side-gallery {
        width: 35%;
        flex-direction: row;
    }

    .side-gallery img {
        height: 50%;
        width: 50%;
    }

    .ellipse {
        display: none;
    }

    .view-gallery-div {
        bottom: 2rem;
        right: 2rem;
        box-shadow: var(--bx-shadow);
    }
/**************
***************
  5.POSTS
***************
**************/

    
}


