/* HOMEPAGE CSS */

/*
    TABLE OF CONTENTS: 
        1.HERO
        2.PROGRAMS
        3.COMMUNITY
        4.GALLERY
        5.POSTS
        6.ABOUT
*/


/**************
***************
    1.HERO
***************
**************/
.homepage-hero {
    width: 100%;
    height: 250px;
    background-image: url('../images//girl-squat-dark-opt.jpg');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--fw-bold);
    text-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.hero-motivational-box {
    height: 50px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

/* Desktop Hero */
@media only screen and (min-width: 768px) {
    .homepage-hero {
        height: 100vh;
    }

    .hero-motivational-box {
        height: 125px;
    }
}


/**************
***************
  2.PROGRAMS
***************
**************/

.homepage-programs {
    flex-direction: column-reverse;
    position: relative;
}

.homepage-programs-background {
    height: 125px;
    background-image: url('../images/squater-opt.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.homepage-programs-cta {
    justify-content: center;
    align-items: center;
    margin: 37.5px auto;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, .35);
    color: var(--clr-primary);
}

.programs-cta-info {
    display: none;
}

.program {
    height: 140px;
    width: 100%;
    box-shadow: var(--bx-shadow);
    position: relative;
}

.program img {
    object-fit: cover;
    object-position: 50% 50%;
}

.homepage-program-info {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px 0 10px;
    z-index: 1;
}

/* Version 1: Program Img and Info */
.default-mode {
    width: 135px;
    height: auto;
  }

.default-mode + .img-overlay-dark {
    display: none;
}

.program p {
    font-size: .875rem;
}

.program a {
    font-size: .875rem;
    font-weight: var(--fw-bold);
    align-self: flex-end;
    padding-right: 5px;
}

/* Version 2: Program Img Full Width */
.full-width-mode {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    color: white;
}

.full-width-mode h2 {
    font-weight: var(--fw-bold);
    margin-left: 10px;
    text-shadow: var(--bx-shadow);
}

.full-width-mode p,
.full-width-mode a {
    display: none;
}

@media only screen and (min-width: 768px) {
    .homepage-programs {
        flex-direction: row;
    }

    .homepage-programs > * {
        flex-basis: 100%;
    }

    .homepage-programs-background {
        height: 800px;
    }

    .homepage-programs-cta {
        width: 60%;
        height: auto;
        min-height: 9.375rem;
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        margin: 0 2.5rem;
        position: absolute;
        bottom: 3.75rem;
        background: linear-gradient(135deg,
                    rgba(255,255, 255, .35) 0%, 
                    rgba(0, 0, 0, .15) 50%,
                    rgba(0, 0, 0, .1) 75%,
                    rgba(255,255, 255, .1) 95%);
    }

    .programs-cta-info {
        display: block;
        padding: 15px;
    }
    
    .homepage-programs-cta h3 {
        align-self: flex-end;
        padding: 0px 15px 15px 0;
    }

    .program {
        height: 200px;
    }

    .program h2 {
        font-size: clamp(1.125rem, 2vw, 1.75rem);
    }

    .program p {
        font-size: clamp(1rem, 1.75vw, 1.125rem);
    }

    .program a {
        font-size: clamp(1rem, 1.75vw, 1.25rem);
        align-self: center;
    }

    .default-mode {
        width: 200px;
    }

    .full-width-mode h2 {
        font-size: 2.5rem;
    }
}

/**************
***************
  3.COMMUNITY
***************
**************/

#community {
    box-shadow: var(--bx-shadow);
}
.community-container {
    margin: 0 auto;
    width: 100%;
    height: 55px;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
}

.community-container h2{
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    font-weight: var(--fw-bold);
}

.social-stats {
    justify-content: flex-start;
    align-items: center;
}

.social-stats h2 {
    font-size: clamp(.875rem, 3vw, 2.5rem);
    margin-top: .25rem;
}

.social-stats img {
    width: 18px;
    height: auto;
    margin-right: .25rem;
}


@media only screen and (min-width: 768px) {
    .community-container {
        width: 85%;
        height: 135px;   
        justify-content: space-between;
        margin: 0 2.5rem 0 2.5rem;     
    }

    .social-stats img {
        width: 40px;
        margin-right: .75rem;
    }
}

/**************
***************
  4.GALLERY
***************
**************/
.gallery {
    width: 100%;
    height: 250px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto hidden;
    position: relative;
}

/* scroll bar for mobile gallery */
.gallery::-webkit-scrollbar {
    height: 4px;
}

.ellipse {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.gallery img {
    width: 100vw;
    height: 250px;
}

.main-gallery {
    width: 100%;
}

.side-gallery {
    /*if static gallery set width equal to: 100 x amount of pictures in side gallery*/
    width: 400%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.view-gallery-div {
    height: 25px;
    font-size: 1.25rem;
    color: white;
    position: absolute;
    bottom: .25rem;
    right: 1rem;
}

@media only screen and (min-width: 768px) {
    .gallery {
        height: 450px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .gallery img {
        height: 100%;
        width: 100%;
    }

    .main-gallery {
        width: 50%;
        position: relative;
        transition: 1s;
    }

    .side-gallery {
        width: 50%;
        flex-direction: row;
        transition: 1s;
    }

    .side-gallery img {
        height: 50%;
        width: 50%;
    }

    .ellipse {
        display: none;
    }

    .view-gallery-div {
        bottom: 2rem;
        right: 2rem;
        box-shadow: var(--bx-shadow);
    }
}

@media only screen and (min-width: 1120px) {
    .main-gallery {
        width: 65%;
        position: relative;
    }

    .side-gallery {
        width: 35%;
        flex-direction: row;
    }
}

/**************
***************
  5.POSTS
***************
**************/

#homepage-recent-posts h2{
    margin: 2rem 0 1.25rem 1rem;
}

.recent-posts-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.recent-post { 
    position: relative;
}

.recent-post + .recent-post {
    margin-top: 1.25rem;
}

.post-info {
    position: relative;
}
/* default - mode */
.post-info header{
    margin-top: 1rem;
}

.post-info header p {
    margin-top: .25rem;
    font-size: .875rem;
    font-weight: normal;
}

.post-info p {
    margin-top: -.25rem;
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
}

.post-info button {
    margin-bottom: 1rem;
}

/* overflow-mode */

.overflow-mode {
  min-height: 17rem;
}

.overflow-mode img {
    width: 100%;
    height: 200px;
}

.overflow-mode .post-info {
    width: 80%;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: var(--bx-shadow);
    margin: 0 auto;
}

.overflow-mode header {
    margin: .75rem;
    margin-bottom: .5rem;
}

.overflow-mode header h3 {
    font-size: 1rem;
}

.overflow-mode header p {
    display: unset;
    font-size: .75rem;
}

.overflow-mode p {
    display: none;
}

.overflow-mode button {
    display: block;
    margin: 0 auto .5rem auto;
    font-size: .75rem;
}

@media only screen and (min-width: 500px) {

   .recent-post {
     min-height: 350px;
     width: 80%;
     margin: 0 auto;
   }

   .overflow-mode {
       max-height: unset;
   }

   .overflow-mode img {
       height: 225px;
   }

   .overflow-mode .post-info {
    width: 85%;
   }

   .overflow-mode header p {
       margin: unset;
   }

  
}

@media only screen and (min-width: 768px) {
    #homepage-recent-posts h2 {
        margin-left: 2.5rem;
    }

    .recent-posts-container {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .recent-post, .overflow-mode {
        width: 37.5%;
        height: unset;
        margin: 1.75rem;
    }

    .overflow-mode {
        margin-bottom: clamp(2.5rem, 6vw, 5rem);
    }

    .recent-post + .recent-post {
        margin-top: 1.75rem;
    }

    .recent-post img,
    .overflow-mode img {
        width: 100%;
        height: 350px;
        max-height: 400px;
    }

    .overflow-mode .post-info {
        top: 250px;
        width: 75%;
        max-height: 200px;
        padding: .5rem;
    }

    .overflow-mode p {
        overflow: hidden;
    }

    .post-info header h3 {
        font-size: 1.25rem;
        margin-bottom: .25rem;
    }

    .post-info header {
        margin-bottom: 1rem;
    }

    .post-info header p {
        font-size: .875rem;
    }

    .post-info p,
    .post-info button{
        font-size: 1rem;
    }

    .post-info button {
        margin: .5rem auto
        /*margin: 0 0 .5rem auto;  test style
        margin-right: 1rem;*/
    }
}

@media only screen and (min-width: 1120px) {
    .overflow-mode p {
        display: block;
        font-size: .825rem;
        line-height: 1.25;
        margin: .5rem .75rem .75rem;
    }
}

/**************
***************
    1.ABOUT
***************
**************/
.about-background-img {
    width: 100%;
    min-height: 150px;
    background: url('../images/turkish-get-up-opt.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.homepage-about {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homepage-about header {
    margin: 1.25rem 1.5rem;
}
.homepage-about header h2 {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

.homepage-about header p {
    display: none;
    font-size: 1rem;
    line-height: 1.25;
    width: max(550px, 50%);
}

.experience-stats {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stat p{
    font-size: clamp(.875rem, 2vw, 1.5rem);
}

.stat p:first-child {
    margin-bottom: -1rem;
    font-weight: var(--fw-bold);
}

.stat button {
    font-size: clamp(.875rem, 2vw, 1.25rem);
    background: white;
    color: black;
    font-weight: var(--fw-bold);
}

/* ABOUT VERSION 2 */

.about-v2-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-version-2 .experience-stats {
    width: 100%;
    margin-bottom: 1.5rem;
}

.about-v2-imgs {
    width: 80%;
    height: clamp(160px, 15rem, 240px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.about-v2-imgs img{
    height: clamp(120px, 12rem, 200px);
    width: clamp(90px, 25%, 160px);
    box-shadow: var(--bx-shadow);
}

#img-1 {
    align-self: flex-end;
}
#img-2 {
    align-self: flex-start;
}
#img-3 {
    align-self: center;
}

.about-v2-info {
    width: 80%;
    margin: 0 auto;
    font-weight: var(--fw-bold);
}

.about-v2-info p{
    font-size: 1.125rem;
}

.about-v2-info button {
    width: 50%;
    margin: 0 25%;
}

@media only screen and (min-width: 768px) {
    .homepage-about header {
        margin: 2rem 5rem;
        font-weight: var(--fw-bold);
    }
    .homepage-about header h2 {
        margin-bottom: 1rem;
    }
    
    .homepage-about header p {
        display: block;
        text-shadow: var(--bx-shadow);
    }

    .experience-stats {
        width: 100%;
    }

    .stat p:first-child {
        margin-bottom: -1.5rem;
    }

    /* VERSION 2 */

    .about-v2-div {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem auto;
    }

    .about-v2-imgs {
        width: 50%;
        height: 515px;
    }

    .about-v2-imgs img {
        height: 77%;
        width: 32%;
    }

    .about-v2-info {
        width: 45%;
        height: 515px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-v2-info p {
        width: 85%;
    }

    .about-v2-info button {
        min-width: 150px;
        width: 25%;
        margin: unset
    }
}