.navbar {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: .5s;
}

.navbar nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: -70%;
    background: var(--clr-secondary);
    width: 70%;
    height: 100vh;
}

.logo-div {
    width: 25%;
}

.logo-div h2 {
    font-size: 2rem;
   /* margin: 5rem auto;*/
    display: none;
    cursor: pointer;
}

nav.flex h2 {
    display: block;
    cursor: pointer;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: block;
    margin: 2rem auto;
    font-size: 1.25rem;
    font-weight: var(--fw-semi-bold);
    cursor: pointer;
}

.active {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
}

.nav-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-socials div {
    display: none;
}

.nav-socials svg {
    height: clamp(.625rem, 1.5vw, 15px);
    width: auto;
    margin: 0 1rem;
    cursor: pointer;
}

#cart {
    height: 25px;
    width: 25px;
    margin-right: 1.5rem;
    cursor: pointer;
}

#hamburger {
    cursor: pointer;
    display: block;
    margin-left: 1.5rem;
}

#exit {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}


@media only screen and (min-width: 768px) {
    .navbar {
        height: 70px;
    }

    .logo-div h2 {
        margin: unset;
        display: unset;
        margin-left: 2.5rem;
    }

    nav.flex h2 {
        display: none;
    }

    .navbar nav {
        position: unset;
        height: 100%;
        width: 55%;
        flex-direction: row;
        justify-content: center;
    }

    nav ul {
        padding-left: unset;
        text-align: unset;
    }

    nav ul li{
        display: inline-block;
        margin: 0 1.25rem;
        font-size: clamp(.875rem, 1.5vw, 1rem);
    }

    .nav-socials {
        width: 20%;
        justify-content: flex-end;
    }

    #cart {
        margin-right: 2.5rem;
    }

    #hamburger {
        display: none;
    }

    #exit {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .navbar nav {
        width: 50%;
    }
    .nav-socials {
        width: 25%;
        height: 100%;
        justify-content: space-between;
        padding-right: 2.5rem;
    }

    .nav-socials div {
        display: flex;
    }

    .nav-socials svg{
        height: clamp(.625rem, 1.5vw, 15px);
    }

    #cart {
        margin-right: 0;
    }
}