/* Admin Login */
.login-panel {
    width: 100%;
    height: 100%;
    background: url('../images/arm-flex-opt.jpg'), rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

.login-form {
    width: auto;
    height: 65vh;
    margin: 0 1.25rem;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label {
    width: 85%;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.login-form input {
    width: 85%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin: .5rem auto 1rem auto;
}

.login-form input:active, .login-form input:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: 3px;
    background: white;
}

.login-button {
    width: 50%;
    font-weight: var(--fw-bold);
    padding: 10px;
    margin: 1rem auto;
    background: var(--clr-accent);
}

.admin-login-background {
    display: none;
}

@media only screen and (min-width: 500px){
    .login-form {
        width: 400px;
        margin: 0 auto;
    }

    .login-form label {
        font-size: 1.25rem;
    }

    .login-form input {
        padding: 12.5px;
    }

    .login-form input + label {
        margin-top: 1.5rem;
    }

    .login-button {
        padding: 12.5px;
        font-size: 1.125rem;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .login-panel {
        height: 100vh;
    }

    .login-form {
        width: 25%;
        min-width: 300px;
        height: 100%;
        padding-top: 75px;
    }

    .login-form label {
        width: 100%;
    }
    
    .login-form input {
        width: 100%;
    }
}


/*Admin Classes */

.admin-main {
    display: flex;
    flex-direction: row;
}

.admin-container {
    width: 100%;
    height: calc(100vh - 45px);
    max-height: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    top: 22.5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.admin-page {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active-link {
    color: var(--clr-accent);
}

.light {
    background: #f8f8f8;
    color: black;
}

.dark {
    background: #1a1a1a;  /*2a2a2a */
    color: white;
}


/*Admin SIde Nav */
.admin-sidenav {
    width: 35%;
    height: 100vh;
    max-height: 1200px;
    background: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    transition: left 1s;
}

.admin-sidenav li{
    width: 100%;
    text-align: center;
}

.admin-sidenav li a {
    font-size: 1.125rem;
    display: block;
    padding: 25px;
}

/* Admin Home Page */

.admin-add {
    width: 85%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: clamp(.625rem, 3.2vw, 1rem);
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
    cursor: pointer;
}

.admin-add:active {
    box-shadow: unset;
}

.admin-add:active svg {
    width: 45%;
}

.admin-add svg {
    width: 50%;
    height: auto;
    margin-top: 1rem;
    transition: 250ms;
}

.admin-add p {
    text-align: center;
    font-weight: var(--fw-semi-bold);
}

@media only screen and (min-width: 768px) {
    .admin-sidenav {
        width: 17.5%;
        display: flex;
    }

    .admin-sidenav li {
        text-align: left;
    }

    .admin-container {
        width: 82.5vw;
        height: calc(100vh - 70px);
        flex-direction: column;
        position: relative;
        top: 35px;
        margin: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .admin-container::-webkit-scrollbar {
        display: none;
    }

    .admin-page {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .admin-add {
        max-width: 300px;
        height: 250px;
        transition: 250ms;
    }

    .admin-add:active, .admin-add:focus, .admin-add:hover {
        transform: translateY(-20px);
        outline: none;
    } 

    .admin-add svg {
        width: 45%;
    }

    .admin-add:active svg {
        width: 40%;
    }

    .admin-add p {
        font-size: 1.125rem;
    }

}


/* Admin Statistics Section */ 

.admin-programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.admin-programs::-webkit-scrollbar {
    display: none;
}

.admin-programs h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.program-stats {
    width:  100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2.5%;
}

.program-chart {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--bx-shadow);
    margin: 0 auto 1.5rem auto;
}


.top-selling {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: var(--bx-shadow);
    flex-basis: 100%;
}

.top-selling h3 {
    height: 5%;
    margin: 1rem auto;
}

.top-selling-stats {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
    margin: .5rem;
    box-shadow: var(--bx-shadow);
    border-radius: 5px;
}

.top-stat h4, .top-stat h3 { 
    margin: 2.5%;
    height: auto;
}

.stat-chart {
    width: 90%;
    height: auto;
    margin: .5rem auto;
}

@media only screen and (min-width: 768px) {
    .program-chart {
        height: 275px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: var(--bx-shadow);
        margin: 0 auto 1.5rem auto;
    }
    .top-selling {
        margin: 0 2.5% 1.5rem 2.5%;
    }

    .top-stat {
        margin: 1rem 1.5rem;
        width: unset;
    }

}

@media only screen and (min-width: 1120px) { 

    .program-stats {
        flex-wrap: nowrap;
    }

    .program-chart {
        min-height: 275px;
        height: 300px;
        max-height: 350px;
        width: 45%;
        resize: vertical;
        overflow: hidden;
    }

    .top-selling {
        min-height: 325px;
        max-height: 350px;
    }

    .top-selling h3 {
        height: 5%;
        margin: 1rem ;
    }
    .top-selling-stats {
        flex-wrap: nowrap;
    }
}


/* Admin Settings Sections */

.admin-settings {
    width: 100%;
    height: 100%;
}

.admin-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 400px;
    flex-basis: 100%;
    margin: 1rem 2.5%;
    box-shadow: var(--bx-shadow);
    border-radius: 5px;
}

.admin-details h3, 
.admin-details h4 {
    width: 75%;
    margin: .5rem auto;
    text-align: center;
    word-break: break-all;
}

.admin-details button {
    margin: .75rem;
    font-size: .875rem;
}

.admin-details form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.admin-details input {
    width: 100%;
    margin: 1rem 0;
    padding: 10px;
    border: transparent;
    box-shadow: var(--bx-shadow);
    border-radius: 5px;
}

.admin-details form button{
    width: 60%;
    margin: 1rem auto;
}

.admin-details table {
    width: 100%;
    margin-top: 1.25rem;
}

.admin-details table thead {
    text-align: left;
}

.admin-details table thead th {
    padding-left: 10px;
}

.admin-details table tbody td{
    border-top: 2px solid #EBEEF0;
    width: 100%;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    padding: 15px 10px;
    position: relative;
}
.admin-details table tbody td button {
    margin: 0;
    padding: 7.5px 12.5px;
    font-size: .75rem;
}

/* Add New Progrms */

.form-wrapper {
    width: 100%;
    height: calc(100vh - 45px);
    position: fixed;
    left: 0;
    top: 45px;
    background: rgba(0, 0, 0, .75);
    z-index: 9;
}

.form-wrapper form {
    width: 100%;
    height: auto;
    max-height: 650px;
    background: white;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.form-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1.5rem;
}

.input-field {
    width: 90%;
    margin: 1.25rem auto;
}

.input-field label {
    font-size: 1.125rem;
}

.input-field input, .input-field textarea{
    width: 100%;
    margin-top: .5rem;

}

.input-field input[type="text"],
.input-field textarea {
    padding: 10px;
    font-family: Bahnschrift, "Segoe UI";
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .2);
}

.input-field textarea {
    resize: vertical;
    font-weight: normal;
}

textarea#description {
    height: 80px;
    resize: none;
}

textarea#about{
    min-height: 150px;
    max-height: 250px;
}


/*Custom file input */

.input-field input[type="file"] {
    display: none;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #1a1a1a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail span.thumbnail-custom {
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}

/* Custom slider of input range */
.difficulty {
    margin-top: 2rem;
}

.range-value {
    width: 52%;
    height: 17.5px;
    text-align: right;
    font-size: .875rem;
    font-weight: var(--fw-bold);
    margin-bottom: -.5rem;
    margin-top: .5rem;
}

.input-field input[type='range'] {
    margin: 1rem 0;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.input-field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 7.5px;
    border-radius: 2.5px;
    background: white;
    cursor: pointer;
    margin-top: -6.25px; 
    box-shadow: -300px 0 0 300px rgba(187, 27, 27, 1);
    }

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.5px;
    cursor: pointer;
    background: #1a1a1a;
    border-radius: 2.5px;
  }

  /* form button */

  form .input-field button {
    width: 50%;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (min-width: 500px) {
      .input-field {
          width: 80%;
          max-width: 500px;
      }
  }

  @media only screen and (min-width: 768px) {
      .form-wrapper {
          height:calc(100vh - 70px) ;
          left: 17.5%;
          top: 70px;
          width: 82.5%;
      }
       .form-wrapper form {
            width: 80%;
            max-width: unset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
       }
  }

  @media only screen and (min-width: 1920px) {
      .form-wrapper {
          position: absolute;
          height: 100vh;
          width: 100%;
          left: 0;
          top: -70px;
          max-height: 1235px;
      }
  }