/* Admin Login */
.login-panel {
    width: 100%;
    height: 100%;
    background: url('../images/arm-flex-opt.jpg'), rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

.login-form {
    width: auto;
    height: 100vh; /*65vh */
    margin: 0 1.25rem;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form label {
    width: 85%;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.login-form input {
    width: 85%;
    padding: 10px;
    border: transparent;
    border-radius: 5px;
    margin: .5rem auto 1rem auto;
}

.login-form input:active, .login-form input:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: 3px;
    background: white;
}

.login-button {
    width: 50%;
    font-weight: var(--fw-bold);
    padding: 10px;
    margin: 1rem auto;
    background: var(--clr-accent);
}

.admin-login-background {
    display: none;
}

@media only screen and (min-width: 500px){
    .login-form {
        width: 400px;
        margin: 0 auto;
    }

    .login-form label {
        font-size: 1.25rem;
    }

    .login-form input {
        padding: 12.5px;
    }

    .login-form input + label {
        margin-top: 1.5rem;
    }

    .login-button {
        padding: 12.5px;
        font-size: 1.125rem;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .login-panel {
        height: 100vh;
    }

    .login-form {
        width: 25%;
        min-width: 300px;
        height: 100%;
        padding-top: 75px;
    }

    .login-form label {
        width: 100%;
    }
    
    .login-form input {
        width: 100%;
    }
}






/*Admin Classes */

.admin-main {
    display: flex;
    flex-direction: row;
}

.admin-container {
    width: 100%;
    height: calc(100vh - 45px);
    max-height: 1200px;
    top: 22.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.admin-page {
    width: 100%;
    height: 100%;
    /* overflow-x: auto; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.active-link {
    color: var(--clr-accent);
}

.light {
    background: #f8f8f8;
    color: black;
}

.dark {
    background: #1a1a1a;  /*2a2a2a */
    color: white;
}


/*Admin SIde Nav */
.admin-sidenav {
    width: 25%;
    height: 100vh;
    max-height: 1200px;
    background: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
    transition: left 1s;
    z-index: 9;
}

.admin-sidenav li{
    width: 100%;
    text-align: center;
}

.admin-sidenav li a {
    font-size: 1.125rem;
    display: block;
    padding: 25px;
}

/* Admin Home Page */

.admin-add {
    width: 85%; 
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: clamp(.625rem, 3.2vw, 1rem);
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
    cursor: pointer;
}

.adminHome {
    width: 95%;
    max-width: 500px;
    height: auto;
    box-shadow: var(--bx-shadow);
    margin: 1.25rem auto;
    color: #444;
    position: relative;
    display: flex;
    flex-direction: column;
}

.adminHome__h2 {
    width: auto;
    margin: 1rem;
}

.adminHome__contentContainer {
    height: 90%;
}

.adminHome__content {
    width: auto;
    margin: 1rem;
    border: 2px solid #E8EBEE;
    padding: .25rem 0;
}

.adminHome__content--padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.adminHome__content p {
    margin: 1rem 0;
}
.adminHome__content .adminHome__contentSpan{
    font-weight: var(--fw-bold);
}

.indent {
    padding-left: 1.25rem;
    margin-top: .25rem;
}
.indent li {
    padding: .25rem;
}

.adminHome__container{
    width: 100%;
    height: 125px;
    margin: 0;
    background: white;
    border: none;
    border-top: 4px solid #E8EBEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.adminHome__actions {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.adminHome__actions p {
    margin: .5rem 0 0 0;
}

.adminHome__actions svg {
    width: 30%;
    min-width: 45px;
    min-height: 45px;
}

.admin-add:active {
    box-shadow: unset;
}

.admin-add:active svg {
    width: 45%;
}

.admin-add svg {
    width: 50%;
    height: auto;
    margin-top: 1rem;
    transition: 250ms;
}

.admin-add p {
    text-align: center;
    font-weight: var(--fw-semi-bold);
}

@media only screen and (min-width: 768px) {
    .admin-sidenav {
        width: 17.5%;
        display: flex;
    }

    .admin-sidenav li {
        text-align: left;
    }

    .admin-container {
        width: 82.5vw;
        height: calc(100vh - 70px);
        flex-direction: column;
        position: relative;
        top: 35px;
        margin: auto;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .admin-container::-webkit-scrollbar {
        display: none;
    }

    .admin-page {
        width: 100%;
        height: 100%;
        flex-direction: row; 
        align-items: center;
        position: relative;
    }

    .adminHome {
        width: 30%;
        height: 500px;
        overflow: hidden;
    }

    .adminHome__contentContainer {
        overflow: auto;
    }

    .adminHome__h2 {
        font-size: clamp(1.25rem, 2vw, 1.5rem);
    }

    .adminHome__actions svg {
        width: 30%;
        min-width: 50px;
        min-height: 50px;
    }

    .admin-add {
        max-width: 300px;
        height: 250px;
        transition: 250ms;
    }

    .admin-add:active, .admin-add:focus, .admin-add:hover {
        transform: translateY(-20px);
        outline: none;
    } 

    .admin-add svg {
        width: 45%;
    }

    .admin-add:active svg {
        width: 40%;
    }

    .admin-add p {
        font-size: 1.125rem;
    }

}


/* Admin Statistics Section */ 

.admin-programs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.admin-programs::-webkit-scrollbar {
    display: none;
}

.admin-programs h3 {
    margin-bottom: 1rem;
    text-align: center;
}

.program-stats {
    width:  100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2.5%;
}

.program-chart {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: var(--bx-shadow);
    margin: 0 auto 1.5rem auto;
}


.top-selling {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: var(--bx-shadow);
    flex-basis: 100%;
}

.top-selling h3 {
    height: 5%;
    margin: 1rem auto;
}

.top-selling-stats {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    width: 100%;
    margin: .5rem;
    box-shadow: var(--bx-shadow);
    border-radius: 5px;
}

.top-stat h4, .top-stat h3 { 
    margin: 2.5%;
    height: auto;
}

.stat-chart {
    width: 90%;
    height: auto;
    margin: .5rem auto;
}

@media only screen and (min-width: 768px) {
    .program-chart {
        height: 275px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-shadow: var(--bx-shadow);
        margin: 0 auto 1.5rem auto;
    }
    .top-selling {
        margin: 0 2.5% 1.5rem 2.5%;
    }

    .top-stat {
        margin: 1rem 1.5rem;
        width: unset;
    }

}

@media only screen and (min-width: 1120px) { 

    .program-stats {
        flex-wrap: nowrap;
    }

    .program-chart {
        min-height: 275px;
        height: 300px;
        max-height: 350px;
        width: 45%;
        resize: vertical;
        overflow: hidden;
    }

    .top-selling {
        min-height: 325px;
        max-height: 350px;
    }

    .top-selling h3 {
        height: 5%;
        margin: 1rem ;
    }
    .top-selling-stats {
        flex-wrap: nowrap;
    }
}


/* Admin Settings Section */
    .admin-settings {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .admin-details {
        width: 95%;
        min-height: 250px;
        box-shadow: var(--bx-shadow);
        border-radius: 5px;
        margin: .75rem auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: auto;
    }

    .admin-details::-webkit-scrollbar {
        height: 5px;
    }

    .admin-details h3 {
        margin: 1.25rem;
    }

    .admin-info {
        width: 100%;
        margin: .5rem auto 0 auto;
        border-top: 1px solid #E7EAED;
    }

    .admin-info h4 {
        margin: 1rem;
        word-wrap: break-word;
        font-weight: var(--fw-semi-bold);
        letter-spacing: .25px;
    }

    .admin-info h4 + h4 {
        font-weight: var(--fw-bold);
    }

    .admin-info button {
       margin: -.25rem auto .5rem auto;
    }

    .table-container {
        width: 100%;
    }

    .admin-details table {
        text-align: left;
    }

    .admin-details table th {
        padding: 5px 7.5px;
    }

    .admin-details table td{
        padding: 10px;
        border-top: 1px solid #E7EAED;
        font-size: .75rem;
    }

    .admin-details table td button {
        font-size: .75rem;
        padding: 5px 10px;
    }

    @media only screen and (min-width: 768px) {
        .admin-settings {
            width: 90%;
            height: 100%;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }

        .admin-details {
            min-width: 250px;
            width: 32%;
        }

        .admin-info {
            text-align: left;
            width: 95%;
            margin: 0 auto;
            padding: 5px 0;
        }

        .admin-info .button {
            width: 70%;
            padding: 10px;
            margin: unset;
            margin: .5rem 15%;
        }

        .admin-details h3 {
            font-size: 1.5rem;
        } 

        .admin-details h4 {
            font-weight: var(--fw-semi-bold);
        }

        .admin-details h4 + h4, #other {
            font-size: clamp(.875rem, 1.25vw, 1.125rem);
        }

        #other {
            padding: 10px;
            text-align: center;
        }

        .table-container {
            width: 50%;
            margin: auto;
        }

        .table-container .admin-details {
            width: 100%;
            margin: 1rem auto;
        }

      .admin-info {
          justify-content: center;
      }

      .admin-details table th {
        font-size: clamp(.875rem, 1.25vw, 1rem);
        padding: 15px;
      }

      .admin-details table td {
        font-size: clamp(.875rem, 1.25vw, 1rem);
        padding: 15px;
        font-weight: var(--fw-semi-bold);
      }

      .admin-details table td button {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
      }
      
    }
 


/* Add New Programs */

.form-wrapper {
    width: 100%;
    height: calc(100vh - 45px);
    position: fixed;
    left: 0;
    top: 45px;
    background: rgba(0, 0, 0, .75);
    cursor: pointer;
    z-index: 9;
}

.form-wrapper form, .programs-container {
    width: 100%;
    height: 85vh; /*auto */
    max-height: 85vh;
    background: white;
    position: fixed;
    top: 45;
    left: 0%;
    /* transform: translateY(-50%);  */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    cursor: initial;
}

.form-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 1.5rem auto 0 auto;
}

.form-header h3 {
    font-size: 1.5rem;
}

.input-field {
    width: 90%;
    margin: 1.25rem auto;
}

.input-field label {
    font-size: 1.125rem;
}

.input-field input, .input-field textarea{
    width: 100%;
    margin-top: .5rem;

}

.input-field input[type="text"],
.input-field textarea {
    padding: 10px;
    font-family: Bahnschrift, "Segoe UI";
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, .2);
}

.input-field textarea {
    resize: vertical;
    font-weight: normal;
}

textarea#description, textarea#summary {
    height: 80px;
    resize: none;
}

textarea#about, textarea#content{
    min-height: 150px;
    max-height: 250px;
}


/*Custom file input */

.input-field input[type="file"] {
    display: none;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #1a1a1a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail span.thumbnail-custom {
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}

/* Custom slider of input range */
.difficulty {
    margin-top: 2rem;
}

.range-value {
    width: 52%;
    height: 17.5px;
    text-align: right;
    font-size: .875rem;
    font-weight: var(--fw-bold);
    margin-bottom: -.5rem;
    margin-top: .5rem;
}

.input-field input[type='range'] {
    margin: 1rem 0;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.input-field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 7.5px;
    border-radius: 2.5px;
    background: white;
    cursor: pointer;
    margin-top: -6.25px; 
    box-shadow: -300px 0 0 300px rgba(187, 27, 27, 1);
    }

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.5px;
    cursor: pointer;
    background: #1a1a1a;
    border-radius: 2.5px;
  }

  /* form button */

  form .input-field button {
    width: 50%;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .close-modal-button {
    width: 33%;
    padding: 10px;
    background: var(--clr-accent);
    position:absolute;
    bottom: 0;
    left: 33%;
    right:33%;
    margin-bottom: 20px;
}

  @media only screen and (min-width: 500px) {
      .input-field {
          width: 80%;
          max-width: 500px;
      }
  }

  @media only screen and (min-width: 768px) {
      .form-wrapper {
          height:calc(100vh - 70px) ;
          left: 17.5%;
          top: 70px;
          width: 82.5%;
      }
       .form-wrapper form, .programs-container {
            width: 80%;
            max-width: unset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
       }
  }

  @media only screen and (min-width: 1920px) {
      .form-wrapper {
          position: absolute;
          height: 100vh;
          width: 100%;
          left: 0;
          top: -70px;
          max-height: 1235px;
      }
  }


  /* Edit Programs */

  .programList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
  }

  .programList h1 {
      width: 100%;
      margin: 1rem;
  }


  /* block */
  .programCard {
      width: 90vw; /*90% */
      border-radius: 5px;
      box-shadow: var(--bx-shadow);
      margin: 1rem auto;
  }
    /*modifiers */

  .programCard--light{
    background: white;
}

.programCard--dark {
    background: #2a2a2a;
    color: white;
    padding: 1rem;
}

.programCard--v2 {
    position: relative;
    overflow: hidden;
}
/* Block Elements */

 .programCard__loader {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
 }

 .programCard__loader svg {
    animation: loader 2s linear infinite;
 }

  .programCard__overlay {
    display: none;
  }

  .programCard--v2 .programCard__overlay {
      display: unset;
  }

  .programCard__img {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
  }

  .programCard--dark .programCard__img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  .programCard__header {
      width: auto;
      flex-direction: column;
      justify-content: space-between; 
      align-items: center;
      flex-wrap: wrap;
  }

  .programCard--v2 .programCard__header{
      justify-content: center;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      color: white;
  }

.programCard__header, 
.programCard__content {
      margin: 1rem .5rem;
}

.programCard__name {
    width: 80%;
    text-align: center;
    font-size: 1.25rem;
    position: relative;
}

.programCard--v2 .programCard__name {
    font-size: 1.5rem;
}

 .programCard--v2 .programCard__name::before {
    content: '';
    width: 90%;
    height: 2px;
    background: white;
    position: absolute;
    left: 5%;
    bottom: -.5rem;
} 

  .programCard__created {
      font-size: .875rem;
      font-weight: normal;
  }

  .programCard__created span {
      font-weight: var(--fw-semi-bold);
  }

  .programCard--v2 .programCard__created {
      font-size: 1rem;
  }

  .programCard__button {
      margin: .5rem 10%;
      width: 80%;
      font-weight: var(--fw-bold);
  }

  .programCard--dark .programCard__button {
      background:white;
      color: black;
  }

  @keyframes loader {
      0% { transform: rotate(0deg) }

      25% { transform: rotate(90deg) }

      50% { transform: rotate(180deg) }

      75% { transform: rotate(270deg) }

      100% { transform: rotate(360deg) }
  }

  @media only screen and (min-width: 768px) {

    .programWrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .programList h1 {
        font-size: 2.5rem;
    }

    .programCard {
        width: 42.5%;
        min-width: 22rem;
    }

    .programCard__loader {
        width: 100%;
        height: 250px;
    }

    .programCard__header {
        margin: 1rem auto .5rem auto;
    }


  }